#include "resource.h"

/////////////////////////////////////////////////////////////////////////////
//
// PNG
//

IDB_HORSE                       PNG                     "data/images/horse.png"
IDB_TEMP                        PNG                     "data/images/temp.png"
IDB_ADINA                       PNG                     "data/images/adina.png"
IDB_ANKKA                       PNG                     "data/images/ankka.png"
IDB_ARKK                        PNG                     "data/images/arkk.png"
IDB_ARTSARIIV                   PNG                     "data/images/artsariiv.png"
IDB_BERG                        PNG                     "data/images/berg.png"
IDB_BONESKINNER                 PNG                     "data/images/boneskinner.png"
IDB_BROKEN_KING                 PNG                     "data/images/broken_king.png"
IDB_CAIRN                       PNG                     "data/images/cairn.png"
IDB_CAPTAIN_MAI_TRIN            PNG                     "data/images/captain_mai_trin.png"
IDB_CERUS_AND_DEIMOS            PNG                     "data/images/cerus_and_deimos.png"
IDB_CERUS                       PNG                     "data/images/cerus.png"
IDB_CONJURED_AMALGAMATE         PNG                     "data/images/conjured_amalgamate.png"
IDB_DAGDA                       PNG                     "data/images/dagda.png"
IDB_DEIMOS                      PNG                     "data/images/deimos.png"
IDB_DHUUM                       PNG                     "data/images/dhuum.png"
IDB_EATER_OF_SOULS              PNG                     "data/images/eater_of_souls.png"
IDB_ELEMENTAL_AI_DARK           PNG                     "data/images/elemental_ai_dark.png"
IDB_ELEMENTAL_AI_LIGHT_AND_DARK PNG                     "data/images/elemental_ai_light_and_dark.png"
IDB_ELEMENTAL_AI_LIGHT          PNG                     "data/images/elemental_ai_light.png"
IDB_ENSOLYSS                    PNG                     "data/images/ensolyss.png"
IDB_EPARCH                      PNG                     "data/images/eparch.png"
IDB_ESCORT                      PNG                     "data/images/escort.png"
IDB_EYES_OF_FATE                PNG                     "data/images/eyes_of_fate.png"
IDB_FRAENIR_OF_JORMAG           PNG                     "data/images/fraenir_of_jormag.png"
IDB_FREEZIE                     PNG                     "data/images/freezie.png"
IDB_GORSEVAL                    PNG                     "data/images/gorseval.png"
IDB_HARVEST_TEMPLE              PNG                     "data/images/harvest_temple.png"
IDB_ICEBROOD_CONSTRUCT          PNG                     "data/images/icebrood_construct.png"
IDB_KEEP_CONSTRUCT              PNG                     "data/images/keep_construct.png"
IDB_KENUTT                      PNG                     "data/images/kenutt.png"
IDB_KODANS                      PNG                     "data/images/kodans.png"
IDB_MAMA                        PNG                     "data/images/mama.png"
IDB_MATTHIAS                    PNG                     "data/images/matthias.png"
IDB_MINISTER_LI                 PNG                     "data/images/minister_li.png"
IDB_MURSAAT_OVERSEER            PNG                     "data/images/mursaat_overseer.png"
IDB_NARELLA                     PNG                     "data/images/narella.png"
IDB_NIKARE                      PNG                     "data/images/nikare.png"
IDB_QADIM                       PNG                     "data/images/qadim.png"
IDB_QADIM_THE_PEERLESS          PNG                     "data/images/qadim_the_peerless.png"
IDB_RIVER_OF_SOULS              PNG                     "data/images/river_of_souls.png"
IDB_SABETHA                     PNG                     "data/images/sabetha.png"
IDB_SABIR                       PNG                     "data/images/sabir.png"
IDB_SAMAROG                     PNG                     "data/images/samarog.png"
IDB_SIAX                        PNG                     "data/images/siax.png"
IDB_SKORVALD                    PNG                     "data/images/skorvald.png"
IDB_SLOTHASOR                   PNG                     "data/images/slothasor.png"
IDB_SOULLESS_HORROR             PNG                     "data/images/soulless_horror.png"
IDB_TWISTED_CASTLE              PNG                     "data/images/twisted_castle.png"
IDB_VALE_GUARDIAN               PNG                     "data/images/vale_guardian.png"
IDB_WATCHKNIGHT_MARK_II         PNG                     "data/images/watchknight_mark_ii.png"
IDB_WHISPER_OF_JORMAG           PNG                     "data/images/whisper_of_jormag.png"
IDB_XERA                        PNG                     "data/images/xera.png"
IDB_ZANE                        PNG                     "data/images/zane.png"